<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-b">
  <template>
    <style>
      :host {
        display: block;
      }
      main,header{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      ul{
        list-style: none;
        padding:0;
        margin:0;
      }
    </style>
    <header>
      <h2>[[title]]</h2>
    </header>
    <main>
      <ul>
        <dom-repeat items="{{lis}}" as="li">
          <template>
            <li>[[li]]</li>
          </template>
        </dom-repeat>
      </ul>
    </main>
  </template>

  <script>
    /**
     * `componente-b`
     * componente hijo B
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteB extends Polymer.Element {
      static get is() { return 'componente-b'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Lista de Elementos'
          },
          lis: {
            type:Array,
            value:['item1','item2','item1','item2','item1','item2','item1','item2','item1','item2']
          }
        }
      }
    }

    window.customElements.define(ComponenteB.is, ComponenteB);
  </script>
</dom-module>
